<div class="container">
    <div class="row justify-content-center mt-5">

        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card shadow">
                <div class="displayTableCell">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3">Login</h2>
                      </div>
                      <div class="card-body">

                        <form>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control"  id="exampleInputEmail1" placeholder="Username" aria-describedby="emailHelp" #userName required>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #userPassword required>
                            </div>

                            <input type="button" class="btn btn-primary" value="Log in"
                            (click)="authService.SignIn(userName.value, userPassword.value)">
                          </form>

                       
                        <!-- <div class="formGroup">
                            <span class="or"><span class="orInner">Or</span></span>
                        </div>
                        <div class="formGroup">
                            <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                                <i class="fab fa-google-plus-g"></i>
                                Log in with Google
                            </button>
                        </div> -->
                        
                        <div class="forgotPassword">
                            <span style="color:blue;cursor: pointer;" routerLink="/forgot-password">Forgot Password?</span>
                        </div>
                    
                    <div class="redirectToLogin" style="color:rgb(13, 13, 108);cursor: pointer;">
                        <span >Don't have an account?<span class="redirect" routerLink="/register-user"> Sign
                                Up</span></span>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>