
<div class="row BreadcumProp">
  <div class=" col-10">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mother</li>
      </ol>
    </nav>
  </div>
  <div class=" col-2">
    <div class="float-end">

      <!-- <button type ="button" (click)="OnNew()" class="btn btn-primary">New</button> -->
    </div>  
  </div>
</div>

<!--<div class="TableToolbar">
  <div class="row">
    <div class="col-9">
      <strong>Mother ({{PatientsList.length}})</strong>
    </div>
    <div class="col-3">
      <div class="float-end">
        <button type="button" (click)="OnNew()"> 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
          </svg>
        </button>
      </div>
    </div>

  </div>
</div>-->

<div class="row MotherListSerch">
  <h3 class="text-center">Mother List</h3>
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" placeholder="Search Here" type="search" value="" id="example-search-input">
                <span class="input-group-append">
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row"  ng *ngFor="let patient of PatientsList;  index as i">
  <div class="col-12 MotherList" (click)="OnSelect(patient)" routerLink="">
    <div class="row">
      <div class="col-4">
        <div class="text-center">
          <span class="Micon ">
          <span style="color:black; text-decoration: none;">{{patient.firstName[0]}}</span>
          <span style="color:black ; text-decoration: none;">{{patient.lastName[0]}}</span>
        </span>
        </div>
      </div>
      <div class="col-8">

        <span class="Mname">{{patient.firstName}} {{ patient.middleName }} {{patient.lastName}}</span>
        <br>
        <span class="Mnumber"><strong>Number: </strong>{{patient.mobileNumber}}</span>
      </div>

    </div>
  </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Adhar ID</th>
        <th scope="col">Contact No</th>
        
      </tr>
    </thead>
    <tbody ng *ngFor="let patient of PatientsList;  index as i">
      <tr >
        <td>{{patient.firstName}} {{ patient.middleName }} {{patient.lastName}}</td>
        <td>{{patient.uid}}</td>
        <td>{{patient.mobileNumber}}</td>
        
      </tr>
      
    </tbody>
  </table>

<!-- <div class="float-end">
  <nav aria-label="Page navigation example ">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div> -->
  