<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/Patients">Patients</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{PtName}}</li>
    </ol>
</nav>


<!-- <p>maintain-patients works! Id Is {{ Ptid }}</p> -->
<ng-container *ngIf="visible">
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success</strong> Updated Successfully.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</ng-container>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Vaccines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Medical History</a>
  </li>

  <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li> -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li> -->
  <!-- <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li> -->
</ul>

          <form [formGroup]="PatientsDetails">
            <div class="row FormRow">
              

              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" formControlName="firstName" class="form-control" id="floatingInputGrid" placeholder="enter Name Here" >
                  <label for="floatingInputGrid">First Name</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" formControlName="middleName" class="form-control" id="floatingInputGrid" placeholder="enter Name Here">
                  <label for="floatingInputGrid">middle Name</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" formControlName="lastName" class="form-control" id="floatingInputGrid" placeholder="enter Name Here">
                  <label for="floatingInputGrid">Last Name</label>
                </div>
              </div>

            </div>

            
            <div class="row FormRow">

              <div class="col-md-4">
                <div class="form-floating">
                  <input type="number" formControlName="mobileNumber" class="form-control" id="floatingInputGrid">
                  <label for="floatingInputGrid">Contact Number</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating">
                  <input type="number" formControlName="alternateNumber" class="form-control" id="floatingInputGrid" >
                  <label for="floatingInputGrid">Alternate Number</label>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-floating">
                  <select formControlName="bloodGroup" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option value=""></option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB">AB</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                  </select>
                  <label for="floatingSelectGrid">Blood Group</label>
                </div>
              </div>

            </div>

            
            <div class="row FormRow">

              

              <div class="col-md-4">
                <div class="form-floating">

                  <select formControlName="pregnancyType" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option value=""></option>
                    <option value="Primy Gravida">Primy Gravida</option>
                    <option value="Multi Gravida">Multi Gravida</option>
                  </select>
                  <label for="floatingSelectGrid">Pregnancy Type</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" formControlName="uid" class="form-control" id="floatingInputGrid">
                  <label for="floatingInputGrid">ID Number</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating">
                  <input type="date" formControlName="dob" class="form-control" id="floatingInputGrid">
                  <label for="floatingInputGrid">Date of Birth</label>
                </div>
              </div>
            </div>


            <div class="row FormRow">

            

              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" formControlName="noOfChildren" class="form-control" id="floatingInputGrid">
                  <label for="floatingInputGrid">No. of Children</label>
                </div>
              </div>

              <!-- <div class="col-md-4">
                <div class="form-floating">
                  <input type="date" formControlName="pregnancyType" class="form-control" id="floatingInputGrid">
                  <label for="floatingInputGrid">pregnancyType</label>
                </div>
              </div> -->
            </div>

          </form>
       

{{PatientsDetails.value | json}}


  <div class="fixed-bottom FormFooterActions border border-secondary">
    <div class="row float-end">

      <div>
        <button (click)="OnSave()" type="button"  class="btn btn-primary Save">Save</button>
      </div>
    </div>
  </div>