/* You can add global styles to this file, and also import other style files */
.wrapper {
  padding-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}
.navProperty{
  background-image: linear-gradient(to right, #1051cf, #3d5e94);
}

.navbarbrand, .navbarbrand:hover {
  color: rgb(253 253 253 / 90%);
  text-decoration: none;
}
.BreadcumProp{
  background-color: #ffffff;
    border: 1px solid;
    border-color: #0f396c;
}

.BreadcumProp nav{
  padding-top: 10px;
}
.BreadcumProp .Actions{
  padding-top: 10px;
}
.BreadcumProp nav ol li a{
  color: #000000;
  text-decoration: none;
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}


.FormRow {
  padding-top: 20px;
}

.FormFooterActions {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  background-color: #fffffffc;

}

.FormFooterActions .Save {
  margin-right: 10px;
}

.leftNavText {
  color: white;
  text-decoration: none;
}

.Breadnav {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.TableToolbar {
  padding: 10px;
    margin-bottom: 4px;
    color: #000000;
    background-color: #dcebff;
}

.TableToolbar div .float-end button {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  border-radius: 0.5px;
  border-color: #1200ff;
  color: #ffffff;
  background-color: #1088ff;
  margin-right: 2px;
}

.TableToolbar div .float-end button svg{
  filter: invert(98%) sepia(79%) saturate(2476%) hue-rotate(278deg) brightness(118%) contrast(209%);
 
}

.TableToolbar div svg {
  width: 12px;
}

.HomeCards {
    background-image: linear-gradient(to right, #badaf7, #2f7fff);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 7px 3px #397fbf47;
    margin-right: 2px;
    margin-bottom: 20px;
    border-color: #397fbf;
}
.HomeCards a{
text-decoration: none;
  color: black;
}

.HomeCards a :hover{
  text-decoration: none;
    color: #190a5a;
  }

  .HomeCards .count{
    font-size: 50px;
  }
.HomeCards svg{
  width: 50px;
}

.HomeCards h3{
  font-size: 20px;
}


.MotherListSerch{
  background-color: #129fece3;
  color: white;
  padding: 50px;
}

.MotherList{
  background-color: #ffffffe3;
  border: 1px solid;
  border-color: #000000;
  padding: 20px;
}

.MotherList .Micon{
  font-size: 40px;
    font-weight: 700;
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
    text-decoration: none;
}

.MotherList .Mname{
  font-size: 15px;
    font-weight: 800;
    width:100%;
    padding-top: 5px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .FormRow div{
      padding-bottom: 10px;
  }
  .last{
      margin-bottom: 35px;
  }

  .HomeCards svg{
    width: 45px;
  }

  .HomeCards .count{
    font-size: 30px;
  }

  .HomeCards h3{
    font-size: 20px;
  }
  
  .MyLeftBar{
    position: fixed;
  }

  }